<template>
  <gl-tabs>
    <gl-tab>
      <template #title>
        <span>Tab</span>
        <gl-badge size="sm" class="gl-tab-counter-badge">500</gl-badge>
      </template>
      Tab panel 1
    </gl-tab>
    <gl-tab>
      <template #title>
        <span>Tab</span>
        <gl-badge size="sm" class="gl-tab-counter-badge">250</gl-badge>
      </template>
      Tab panel 2
    </gl-tab>
    <gl-tab>
      <template #title>
        <span>Tab</span>
        <gl-badge size="sm" class="gl-tab-counter-badge">250</gl-badge>
      </template>
      Tab panel 3
    </gl-tab>
  </gl-tabs>
</template>
